:root {
  font-family: sans-serif;
  --borderColor: #d6d6d6;
  --th: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.header {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.my-library {
  margin-left: 50px;
}

.add-books {
  margin-right: 50px;
  padding-block: 0.55em;
  padding-inline: 1.55em;

  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgb(104, 104, 104);
  font-weight: 600;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  background: rgb(0 0 0 / 0.55);
  pointer-events: none;

  transition: opacity 0.5s ease-in-out;
}

#overlay.active {
  pointer-events: auto;
  opacity: 1;
}

.form-container {
  position: absolute;

  background-color: white;
  top: 100px;
  width: 350px;
  height: 350px;
  z-index: 3;
  padding: 30px;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.form-container.active {
  opacity: 1;
  pointer-events: auto;
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

input,
button,
select {
  padding: 0.55em;
}

select {
  width: 100px;
}

#submit {
  width: 100px;
  align-self: center;

  border: none;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgb(170, 170, 170);
}

button {
  cursor: pointer;
}

table {
  margin-top: 20px;

  border: 2px solid var(--borderColor);
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--borderColor);
  padding-block: 0.5em;
}

th {
  width: min(200px, 300px);
  background-color: var(--th);
}

th:nth-child(5) {
  width: 100px;
}

td {
  text-align: center;
}
