:root {
  font-family: sans-serif;
  --borderColor: #d6d6d6;
  --th: #f7f7f7;
  --hover: rgb(206, 206, 206);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.header div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.my-library {
  margin-left: 50px;
}

.book-png {
  width: 40px;
}

.add-books {
  margin-right: 50px;
  padding-block: 0.55em;
  padding-inline: 1.55em;

  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgb(189, 189, 189);
  font-weight: 600;
  font-size: 1rem;

  transform: translate(0, -2px);
}

.add-books:active {
  transform: translate(0, 0px);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  background: rgb(0 0 0 / 0.55);
  pointer-events: none;

  transition: opacity 0.5s ease-in-out;
}

#overlay.active {
  pointer-events: auto;
  opacity: 1;
}

.form-container {
  position: fixed;

  background-color: white;
  top: 100px;
  width: 400px;
  height: 400px;
  z-index: 3;
  padding: 35px;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  border-radius: 5px;
}

label {
  color: grey;
  font-size: 0.85rem;
  margin-left: 5px;
}

.form-container div {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
}

.form-container.active {
  opacity: 1;
  pointer-events: auto;
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

input {
  padding: 0.55em;
  border-radius: 8px;
  border: 1px solid grey;
  font-size: 1rem;
}

input:focus,
select:focus {
  outline: none;
}

select::picker-icon {
  transition: 0.5s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

select {
  padding-block: 0.55em;
  font-size: 1rem;
  border: 1px solid grey;
  border-radius: 8px;
  padding-inline: 10px;
  appearance: base-select;
  width: 150px;

  cursor: pointer;
}

::picker(select) {
  appearance: base-select;
  border: 1px solid grey;
  border-radius: 8px;
}

option {
  padding: 5px;

  font-size: 1rem;
  text-box: trim-both cap alphabetic;

  display: flex;
  gap: 5px;
}

option:first-child {
  border-bottom: 1px solid grey;
}

option:hover,
option:focus {
  background: e7e7e7;
  cursor: pointer;
}

option:checked {
  font-weight: bold;
}

#submit {
  width: 100px;
  align-self: center;

  border: none;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgb(170, 170, 170);
  padding-inline: 1em;
  font-size: 0.85rem;
  padding-block: 0.7em;
  transform: translate(0, -1px);
}

#submit:active {
  transform: translate(0, 0px);
}

button:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.remove-button {
  padding-top: 8px;
  padding-bottom: 5px;
  padding-inline: 10px;
  border: none;
  background-color: #dfdfdf;
  border-radius: 9px;
  box-shadow: 0px 0px 10px #e7e7e7;
  transform: translate(0, -2px);
}

.remove-button:active {
  transform: translate(0, 0px);
}

.toggleBtn {
  padding-top: 8px;
  padding-inline: 10px;
  padding-bottom: 8px;
  border: none;
  background-color: #e0e0e0;
  border-radius: 9px;
  box-shadow: 0px 0px 10px #e7e7e7;
  transform: translate(0, -1px);
  font-size: 1rem;
}

.toggleBtn:active {
  transform: translate(0, 0px);
}

.trash-bin {
  width: 20px;
}

table {
  margin-top: 20px;

  border: 2px solid var(--borderColor);
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--borderColor);
  padding-block: 0.5em;
}

th {
  width: min(200px, 300px);
  background-color: var(--th);
}

th:nth-child(5) {
  width: 100px;
}

td {
  text-align: center;
}
